<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}

		<h1 class="site-title">
			<a aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        {% assign name_page = "" %}

        {% for page in site.pages %}
            {% unless page.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}" href="{{ page.url | relative_url }}">
                    {% if page.icon %} <i class="fa {{ page.icon }}" aria-hidden="true"></i>
                    {% else %} {{ page.title }} {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
        {% endfor %}

        <li class="separator"> | </li>
        <li>
          <a class="clear" href="https://manual.hnap.de"
            name="{% t links.documentation %}" target="blank">
            {% t links.documentation %}
          </a>
        </li>
        <li class="separator"> | </li>
        <li>
          <a class="clear" href="https://t.me/hamnet_access_protocol"
            name="{% t links.telegram %}" target="blank">
            {% t links.telegram %}
          </a>
        </li>
        <li class="separator"> | </li>
        <li>
          <a class="clear" href="https://hamnet-access-protocol.groups.io"
            name="{% t links.telegram %}" target="blank">
            {% t links.groupsio %}
          </a>
        </li>
        <li class="separator"> | </li>
        <li>
          <a class="clear" href="https://github.com/hamnet-access-protocol"
            name="{% t links.sourcecode %}" target="blank">
            {% t links.sourcecode %}
          </a>
        </li>
    </ul>

	</nav>
</header>
